{%extends 'global/base.html'%}
{%load static%}
{%block content %}
    <h1>Tudo é possível mano</h1>
    <h3>, está fluindo kkkk</h3>
    
    <p>Coisas a fazer:<br>
        todo o frontend dessa parte<br>
        lógica para ser redirecionado para a main<br>
        novamente<br>
        implementar o dados no fim do treinamento

    </p>
    <!-- Código de texte das notas musicais-->
    <video controls autoplay name="media">
        <source src="{%static 'global/aud/notes/C4.wav'%}" type="audio/wav">
    </video>

    <video controls autoplay name="media">
        <source src="{%static 'global/aud/notes/D4.wav'%}" type="audio/wav">
    </video>

    <video controls autoplay name="media">
        <source src="{%static 'global/aud/notes/E4.wav'%}" type="audio/wav">
    </video>

    <video controls autoplay name="media">
        <source src="{%static 'global/aud/notes/F4.wav'%}" type="audio/wav">
    </video>

    <video controls autoplay name="media">
        <source src="{%static 'global/aud/notes/G4.wav'%}" type="audio/wav">
    </video>

    <video controls autoplay name="media">
        <source src="{%static 'global/aud/notes/A4.wav'%}" type="audio/wav">
    </video>
    
    <video controls autoplay name="media">
        <source src="{%static 'global/aud/notes/B4.wav'%}" type="audio/wav">
    </video>

    <video controls autoplay name="media">
        <source src="{%static 'global/aud/notes/C5.wav'%}" type="audio/wav">
    </video>

    
    
    <!-- Script Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{%endblock content%}