{% extends "global/base.html" %}
{%load static %}
{%block content%}
    <header class="bg-primary-black">
        <h1 class="display-1 text-center text-light p-2">Percepção Musical App</h1>
    </header> 
    <section class="container pt-5">
        <div class="pb-3">
            <h2 class="display-3">Desenvolva sua percepção musical</h2>
        </div>
        <div class="row">
            <img class="col-md-6 img-fluid" src="{% static "global/imgs/img-site-principal.jpeg"%}" alt="img-site1">
            <img class="col-md-6 img-fluid" src="{%static "global/imgs/img-principal-app.jpeg"%}" alt="img-site2">
        </div>
        <div class="pt-4">
            <a href="{% url 'pm_app:register' %}" class="btn btn-danger form-control btn-lg mb-5">CADASTRE-SE AGORA</a>
        </div>
    </section>
    <!-- seção imagem de fundo-->
    <section class="mt-5 text-light bg-img">
        <div class="container">
            <h2 class="display-3">Transforme sua vida</h2>
            <p class="fs-2">atraves da musica</p>
            <p class="lh-1 fs-1">
                Bem-vindo ao Percepção Musical App, onde a música ganha vida através dos seus ouvidos! Prepare-se para mergulhar
                em um mundo de treinamentos exclusivos e desafios envolventes, projetados para aprimorar sua percepção musical
                de maneira divertida e interativa...
            </p>
        </div>
    </section>
    <!-- Seção com col ao lado-->
    <section class="container">
        <h1 class="display-1 pb-4 pt-4">Descubra novos horizontes Musicais</h1>
        <div class="row d-flex align-items-center">
            <p class="col-xxl-7 fs-2">
                Explore uma variedade de exercícios projetados para todos os níveis, desde iniciantes até músicos experientes. 		
                Desenvolva sua capacidade de reconhecer intervalos, identificar acordes, compreender progressões e muito mais.
                Esteja pronto para dominar habilidades essenciais que vão elevar sua compreensão musical a novos patamares.
            </p>
            <div class="col-xxl-4" id="img-none">
                <img class="img-fluid" src="{%static "global/imgs/tiles.jpeg"%}" alt="img-tile">
            </div>
        </div>
    </section>
    <!-- Penulta seção -->
    <section class="mt-5 text-light bg-img">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="display-3">Personalize sua experiencia</h2>                    
                    <p class="lh-1 fs-5">
                        Nosso aplicativo se adapta a você. Escolha entre diferentes modalidades de treino, 
                        personalize seu ritmo e nível de dificuldade, e desfrute de uma jornada personalizada 
                        para alcançar seus objetivos musicais. Aventura-se no mundo da música de forma divertida e 
                        flexível.
                    </p>
                </div>
                <div class="col-md-6">
                    <h2 class="display-3">Aprenda de forma divertida</h2>
                    <p class="lh-1 fs-5">
                        Jogos interativos que tornam o aprendizado uma experiência envolvente. Desperte sua paixão
                        pela música enquanto desbloqueia novas conquistas e níveis. Prepare-se para sentir o ritmo,
                        entender as melodias e descobrir os segredos da música.
                    </p>                
                </div>
            </div>
        </div>
    </section>
    <section class="container pt-5">
        <div class="row d-flex align-items-center text-center">
            <div class="col-lg-6">
                <img class="img-fluid" src="{%static "global/imgs/complet-img.png"%}" alt="completo">
            </div>
            <div class="col-lg-4">
                <h2 class="display-2">O que está esperando?</h2>
                <h3 class="display-4">Faça seu cadastro ou login agora!</h3>
                <a class="btn btn-primary btn-lg mt-3" href="{% url 'pm_app:register' %}">Eu quero usar o Percepção Musical!</a>
            </div>
        </div>
    </section>
    <footer class="container d-flex justify-content-between align-items-center py-3 my-4"> 
        <span class="mb-3 text-body-secondary">© 2024 Company, Inc</span>
        <ul class="nav">
            <li class="link-bottom">
                <a class="text-body-secondary" href="https://github.com/victorhugorl/percepcao_musical_app_web-version">
                    <i class="bi bi-github"></i>
                    GitHub
                </a>
            </li>
            <li class="px-3 link-bottom">
                <a class="text-body-secondary" href="https://www.linkedin.com/in/daniel-tenório-6471b0244/">
                    <i class="bi bi-linkedin"></i>
                    FrontEnd
                </a>
            </li>
            <li class="link-bottom">
                <a class="text-body-secondary" href="https://www.linkedin.com/in/victor-hugo-rangel-lima-4a8449289/">
                    <i class="bi bi-linkedin"></i>
                    BackEnd
                </a>
            </li>
        </ul>
    </footer>
    <script>
        function checkScreenSize() {
            const element = document.getElementById('img-none');
            const screenWidth = window.innerWidth;
        
            const sizeThreshold = 1400;
        
            if (screenWidth <= sizeThreshold) {
                element.classList.add('d-none');
            } else {
                element.classList.remove('d-none');
            }
        }
        
        window.addEventListener('resize', checkScreenSize);
        
        checkScreenSize();
    </script>
{%endblock content%}