{%extends "global/base.html"%}
{%block content%}
    {% include "global/partials/_header.html" %}
    <main class="container row">
        <section class="col-lg-6">
            {% include "pm_app/partials/_nav-itens.html" %}
        </section>
        <section class="col-lg-6">
            {% include "pm_app/partials/_canva.html" %}
        </section>
    </main>
    
    <div>
        refazendo todo o main
        <a href="{% url "pm_app:game" %}">
            Ir para o game
        </a>
    </div>
{%endblock content%}
