{%extends 'global/base.html'%} {% load static %} {%block content%}
<header class="bg-primary-black navbar navbar-expand">
    <div class="container-fluid">
        <h1 class="display-1 wd-1 text-light">Percepção Musical App</h1>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static "global/svg/person-circle.svg" %}" alt="person">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Configurações</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <hr>
                    <li><a class="dropdown-item text-danger" href="/">Sair da conta</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div
            class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary"
        >
            <div
                class="offcanvas-md offcanvas-end bg-body-tertiary"
                tabindex="-1"
                id="sidebarMenu"
                aria-labelledby="sidebarMenuLabel"
            >
                <div
                    class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto"
                >
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a
                                class="nav-link d-flex align-items-center gap-2 active"
                                aria-current="page"
                                href="#"
                            >
                                <i class="bi bi-house"></i>
                                Topo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link d-flex align-items-center gap-2"
                                href="#"
                            >
                                <i class="bi bi-file-earmark-music"></i>
                                Acorde
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link d-flex align-items-center gap-2"
                                href="#"
                            >
                                <i class="bi bi-music-note-list"></i>
                                Escalas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link d-flex align-items-center gap-2"
                                href="#"
                            >
                                <i class="bi bi-calendar2-range"></i>
                                Progres.
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link d-flex align-items-center gap-2"
                                href="#"
                            >
                                <i class="bi bi-music-note-beamed"></i>
                                Notas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link d-flex align-items-center gap-2"
                                href="#"
                            >
                                <i class="bi bi-earbuds"></i>
                                Ouvido abs
                            </a>
                        </li>
                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase"
                    >
                        <span>Outras opções</span>
                    </h6>
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a
                                class="nav-link d-flex align-items-center gap-2"
                                href="#"
                            >
                                <i class="bi bi-play-fill"></i>
                                Jogar
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
            >
                <h1 class="h2">Painel Principal</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-secondary"
                        >
                            Share
                        </button>
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-secondary"
                        >
                            Export
                        </button>
                    </div>
                    <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1"
                    >
                        <svg class="bi">
                            <use xlink:href="#calendar3"></use>
                        </svg>
                        This week
                    </button>
                </div>
            </div>

            <canvas
                class="my-4 w-100"
                id="graficOne"
                width="1814"
                height="766"
                style="
                    display: block;
                    box-sizing: border-box;
                    height: 383px;
                    width: 907px;
                "
            ></canvas>

            <!--graficTwo deixar salvo aqui-->

            <h2>Section title</h2>
            <div class="table-responsive small">
                <div class="bg-primary-black text-light rounded-4">
                    <table>
                        <thead>
                            <tr>
                                <th>Treinamentos</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- se deixar da pra usar o block do backend aqui-->
                            <tr>
                                <td>teste 1</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Escalas</td>
                                <td>30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static "global/js/main.js" %}"></script>
{%endblock content%}
