<h5>Menu</h5>
<hr>
<ul class="nav-flex">
    <li class="nav-link">
        <a href="#">
            link 1
        </a>
    </li>
    <li class="nav-link">
        <a href="#">
            link 2
        </a>
    </li>
    <li class="nav-link">
        <a href="{% url "pm_app:game" %}">
            <i class="bi bi-controller"></i> Jogar
        </a>
    </li>
</ul>
<h5 class="mt-4">Infos</h5>
<hr>
<div> 
    <h6>
        nivel atual: {{ profile.level }} 
    </h6> 
    <h6>
        conclusão: {{ data.time }}
    </h6>
    <h6>
        Acertos: {{ data.corrects }}
    </h6>
    <h6>
        Treinamento: {{ profile.actual_level }}
    </h6>
</div> 