<table class="table">
    <thead>
      <tr>
        <th scope="col">Level</th>
        <th scope="col">Concluido</th>
        <th scope="col">Treinamento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ profile.level }}</th>
        <td>100 %</td>
        <td>menores e maiores</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>lorem impsum</td>
        <td>lorem impsum</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>lorem impsum</td>
        <td>lorem impsum</td>
      </tr>
    </tbody>
  </table>