<table class="table">
    <thead>
      <tr>
        <th scope="col">Level</th>
        <th scope="col">Lorem, ipsum.</th>
        <th scope="col">Lorem.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ profile.level }}</th>
        <td>lorem impsum</td>
        <td>lorem impsum</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>lorem impsum</td>
        <td>lorem impsum</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>lorem impsum</td>
        <td>lorem impsum</td>
      </tr>
    </tbody>
  </table>