/* variables */
:root {
    --table-bg-color: #283754;
    --darker-blue: #073780;
    --menu-poiter-color: #d6d6d9;
}

/*Index estilo*/
.bg-primary-black {
    background: var(--darker-blue);
}

.bg-img {
    background-image: url(../imgs/sound-bg.jpeg); /*Usei muitas tags para ver bem*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    display: flex;
    align-items: center;
}

/* form */
.center-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-form form {
    width: 400px;
}

/* index footer */
.link-bottom a {
    text-decoration: none;
}

.link-bottom a:hover {
    border-bottom: 2px solid var(--table-bg-color);
}

/*Main*/

.nav-flex {
    margin: 0;
    padding: 0;
}

.nav-link a {
    text-decoration: none;
}

/* Game estilo */
.m-a {
    margin-top: 25vh;
}

@media (max-width: 991.98px) {
    .container-form {
        margin: 5rem 5rem 0 5rem;
    }
    /*Main*/
    .nav-flex {
        display: flex;
    }
}

@media (max-width: 575.98px) {
    .container-form {
        margin: 5rem 2rem 0 2rem;
    }
}
