/*Login config*/
.font-h1-title {
    font-family: 'franklin gothic', sans-serif; /* irei modificar a font ainda*/
}

.body-blue {
    background: rgb(25, 53, 92);
}

.btn-enter {
    background: rgb(171, 214, 237);
}

.btn-enter:hover {
    background: rgb(128, 160, 210);
    color: white;
}

/*Index estilo*/

.bg-primary-black {
    background: #073780;
}

.bg-img {
    background-image: url(../imgs/sound-bg.jpeg); /*Usei muitas tags para ver bem*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 570px;
    display: flex;
    align-items: center;
}

.big-p p { 
    font-size: 2rem;
}