{% if user.is_authenticated %}
    <div>
        <h1>Olá você ja fez login em uma conta...</h1>
        <a href="{% url "pm_app:home" %}" class="btn btn-warning form-control">
            Voltar para pagina principal
        </a>
    </div>
{% else %}
    <form class="border border-3 rounded p-3 bg-white" action="{{ form_action }}" method="POST">
        {% csrf_token %}
        <h1>{{ title_form }}</h1>
        <div>
            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label" for="{{ field.if_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="passwordShow" onclick="showPass()">
            <label for="passwordShow">Mostrar senha</label>
        </div>
        <div>
            <button class="btn btn-primary form-control" type="submit">
                {{ btn_message }}
            </button>
        </div>
    </form>
    <script>
        function showPass() {
            const checker = document.querySelector("input#passwordInput")
            if (checker.type === 'password') {
                checker.type = 'text'
            } else {
                checker.type = 'password'
            }
        }
    </script>
{% endif %}