:root {
    --darker-yellow: #fb8500;
    --beuty-yellow: #ffb703;
    --darker-blue: #023047;
    --common-blue: #219ebc;
    --light-blue: #8ecae6;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Estilizando o nav*/
.bg-principal {
    background-color: var(--common-blue);
}

.bg-dark-blue {
    background-color: var(--darker-blue);
}

.form-article {
    height: 500px;
}

/*Estilizando menu game*/

.level {
    position: relative;
    cursor: pointer;
    width: 90px;
    height: 90px;
    background-color: red;
}

.level.level-disabled {
    cursor: default;
    background-color: blue;
}
