:root {
    --darker-yellow: #fb8500;
    --beuty-yellow: #ffb703;
    --darker-blue: #023047;
    --common-blue: #219ebc;
    --light-blue: #8ecae6;
}
/*Estilizando o nav*/
.bg-principal {
    background-color: var(--common-blue);
}

.bg-dark-blue {
    background-color: var(--darker-blue);
}

.form-article {
    height: 500px;
}
