@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

:root {
    --darker-yellow: #fb8500;
    --beuty-yellow: #ffb703;
    --darker-blue: #023047;
    --common-blue: #219ebc;
    --light-blue: #8ecae6;

    --font-family-titles-and-p: "Montserrat", sans-serif;
    --font-family-sub-titles: "Oswald", sans-serif;
    --font-family-footer: "Roboto", sans-serif;

    --font-size-titles: 64px;
    --font-size-sub-titles: 48px;
    --font-size-varient-sub-titles: 36px;
    --font-size-body-text-buttons: 18px;
    --font-size-navigation: 16px;
    --font-size-footer: 14px;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

h1 {
    font-family: var(--font-family-titles-and-p);
    font-size: var(--font-size-titles);
    font-weight: bold;
    letter-spacing: 0.5px;
}

h2,
h3 {
    font-family: var(--font-family-sub-titles);
    font-size: var(--font-size-sub-titles);
    font-weight: semi-bold;
}

h3 {
    font-size: var(--font-size-varient-sub-titles);
}

nav a {
    font-family: var(--font-family-sub-titles);
    font-size: var(--font-size-navigation);
    text-decoration: none;
}

button {
    font-size: var(--font-size-body-text-buttons);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--common-blue);
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    font-family: var(--font-family-footer);
    font-size: var(--font-size-footer);
}
